.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 15px 15px;
}

.sidebar img {
  width: 20px;
}

.sidebar .menu {
  display: block;
  align-items: center;
  margin-left: 15px;
  text-align: center;
  cursor: pointer;
}

.sidebar .new_chat {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 0 10px 0 10px;

  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 14px;
  color: rgb(60, 53, 53);
  cursor: pointer;
  font-weight: 600;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
}
.sidebar .recent_title {
  margin-top: 30px;
  margin-bottom: 15px;
}
.sidebar .recent_entry {
  display: flex;
  align-items: center;
  /* justify-content:center; */
  gap: 10px;

  padding-right: 15px;
  padding-left: 15px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
  height: 5vh;
}

.sidebar .recent_entry:hover {
  background-color: #e2e6eb;
}

.bottom_item {
  display: flex;
  align-items: center;
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar img {
  width: 25px;
}

.sidebar .recent_title {
  font-weight: 600;
  font-size: 18px;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar .img,
.menu {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 448px) {
  .result_data {
    margin-right: 5px;
  }
  .sidebar .recent_title {
    margin-left: 5px;
  }
  .sidebar .history,
  .sidebar .bottom .bottom_item p {
    display: none;
  }
  .sidebar {
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .top {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    padding: 4px;
  }
  .sidebar .img {
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar .img,
  .menu {
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar .menu {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 100;
  }
  .bottom {
    margin-top: auto;
  }
}
