.sidebar{
    min-height:100vh;
    display:inline-flex;
    flex-direction:column;
    justify-content:space-between;
    background-color:#f0f4f9;
    padding:15px 15px;



}

.sidebar img{
    width:20px; 

}

.sidebar .menu{
    display:block;
    align-items:center;
    margin-left:15px;
    text-align:center;
    cursor:pointer;

}

.sidebar .new_chat{
    margin-top:15px;
    display:inline-flex;
    align-items:center;
    gap:10px;
    padding-right:15px;
    padding-left:10px;
    padding-left:15px;
    background-color:#e6eaf1;
    border-radius:50px;
    font-size:14px;
    color:rgb(8, 109, 33);
    cursor:pointer;
    font-weight:600;


}

.sidebar .recent{
    display:flex;
    flex-direction:column;

}
.sidebar .recent_title{
    margin-top:30px;
    margin-bottom:15px;

}
.sidebar .recent_entry{
    display:flex;
    align-items:center;
    /* justify-content:center; */
    gap:10px;
    
    padding-right:15px;
    padding-left:15px;
    border-radius:50px;
    color:#282828;
    cursor:pointer;
    height:5vh;
}

.sidebar .recent_entry:hover{
    background-color:#e2e6eb
}

.bottom_item{
    display:flex;
    align-items:center;
    
}

.sidebar .bottom{
    display:flex;
    flex-direction:column;
}

.sidebar img{
    width:25px;

}

.sidebar .recent_title{
    font-weight:600;
    font-size:18px;
}